%section#about
  %h2 About Me
  .content
    =image_tag "/assets/scuba.jpg", {:class => "avatar"}
    %p I'm #{age} years old and live in Toronto.
    %p I enjoy various forms of web-based User Experience design. I love building web applications that are simple and elegant. To me, User Experience matters.
  %h2 My Fun
  .content
    %p photography, hiking, travelling the world, learning, board games, leaping from airplanes, programming, movies.
