%section#social
  %h2 Lifestream
  .content
    #loading
    #lifestream
  %h2 Networks
  .content
    %ul.networks
      %li
        =link_to "Check out my source on Github", "http://github.com/awalkerca"
      %li
        =link_to "Enjoy my photography on Flickr", "http://www.flickr.com/photos/awalkerca"
      %li
        =link_to "Friend me on Facebook", "http://www.facebook.com/awalker.ca"
      %li
        =link_to "Follow me on Twitter", "http://www.twitter.com/awalkerca"
      %li
        =link_to "Connect with me on Linked In", "http://ca.linkedin.com/in/awalkerca"
      %li
        =link_to "See where I'm surfing on Delicious", "http://www.delicious.com/awalkerca"

     