%section#work
  %h2 BPS Resolver     
  .content
    %p I'm currently employed as a Web Developer at #{link_to "BPS Resolver Inc.", "http://www.bpsresolver.com"} in Toronto, Ontario.
    %p We develop software solutions for Governance, Risk and Compliance using innovative design and industry-standard technology.