%section#contact
  %h2 Contact Me
  .content
    = render :partial => '_form'
  %h2 More Contact
  .content
    %ul.contacts
      %li
        =link_to "Call me on Skype", "skype:andrew..walker"
      %li
        =link_to "Download my vCard", "/downloads/andrew_walker.vcf"