%nav#main_menu
  %ul
    %li
      =link_to "Me", :root, {:class=>"current"}
    %li
      =link_to "Social", :controller=>"main", :action=>"social"
    %li
      =link_to "Work", :controller=>"main", :action=>"work"
    %li
      =link_to "Contact", :contact